<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>530144121178-n2ue14io8k33rslva1bnkiqr8rr1lpb2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530144121178-n2ue14io8k33rslva1bnkiqr8rr1lpb2</string>
	<key>API_KEY</key>
	<string>AIzaSyCn-V1tVVQXObXqOIaGwsSD7Efm-pttH4k</string>
	<key>GCM_SENDER_ID</key>
	<string>530144121178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.test2</string>
	<key>PROJECT_ID</key>
	<string>ippis-dd430</string>
	<key>STORAGE_BUCKET</key>
	<string>ippis-dd430.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530144121178:ios:5113b692e1a82ac374a363</string>
</dict>
</plist>